/* *************
Default typo
**************/

*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

body{
 margin: auto 260px;   
}

/* Header */

.title{
    text-align: center;
    color: #e53170;
}
/* /Header */


/* Main */
p{
    text-align: center;
    margin: 65px auto ;
    font-size: 30px;
}

.container::after{
    clear: both;
    content: "";
    display: table;
}

div div{
    background-color: #0f0e17;
    float: left;
    box-shadow: #0f0e17;
}
/* /Main */
