/* *************
Default typo
**************/

*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 45px; 
}

h2, h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}

h2{
    font-size: 15px;
}

h3{
    font-size: 13px;
}

a{
    font-size: 13px;
    color: #4dccf2;
    text-decoration-line: none;
}
body{
 margin: auto 260px;   
}

/* Header */

.title{
    text-align: center;
    color: #e53170;
}
/* /Header */


/* Main */
p{
    text-align: center;
    margin: 65px auto ;
    font-size: 30px;
}

.container::after{
    clear: both;
    display: table;
    content: "";
}

.box{
    background-color: #0f0e17;
    box-shadow: #0f0e17;
    height: 100px;
    width: calc((100%/3) - 60px);
    float: left;
    margin-bottom: 30px;
}


.boxc{
    margin: 0px 30px 0px 30px;
}

div img{
    float: left;
    height: 100%; 
}

.content {
    margin-left: 18px;
    float: left;
    margin-top: 12px;
}

/* /Main */
